.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 420px;
}

.card {
  border: 1px solid salmon;
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}

.show {
  
}


